/* Step 3.2 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Sigmar&display=swap');

/* Step 3.3 */
:root {
    --primary-color: #00a6a6;
    --secondary-color: #efca08;
    --accent1-color: #f49f0a;
    --accent2-color: #bbdef0;

    --heading-font: Sigmar;
    --paragraph-font: Poppins;

    --nav-background-color: white;
    --nav-link-color: blue;
    --nav-hover-link-color: violet;
    --nav-hover-background-color: white;

}


/* Step 3.4-5 */
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p main {
    font-family: var(--paragraph-font);
    padding: 30px;
}
/* Step 3.6 */
a {
    text-decoration: none;
}


/* Step 3.7 */

* {
    background-size: cover;
}

section img {
    width: 700px;
    height: 600px;
}


/* Step 4.1 */
.hero {
    position: relative;
    text-align: center;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

div h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: var(--accent1-color);
    opacity: 1;
    padding: 2px;
    
}

.hero-article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    background-color: var(--primary-color);
    padding: 20px;
    opacity: 0.8;
    color: #bbdef0;

}

.hero-article h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    background-color: var(--primary-color);
    opacity: 0.2;
    color: var(--primary-color)

}


article img {
    
    float: right;
    width: 200px;
}



/* Week 4 Codes */

header, .grid, footer {
    max-width: 1000px;
    margin: 0 auto;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	max-width: 1000px;
    background-color: var(--accent1-color);
}

header h1 {
    font-size: 2rem;
}

header img {
    margin: 0 0.25rem 0 1rem;
	width: 80px;
	height: auto;
}

header nav {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
}

.section1 h2 {
    display: flex;
    justify-content: center;
}

.section1 {
    border: solid var(--accent1-color);
}

.section-history {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.sectionp1 {
    width: 30%;
    text-align: justify;

}

.history-img {
    width: 20%;
}

.sectionp2 {
    width: 30%;
    text-align: justify;
}

.section-history img{
    width: 150px;
    height: auto;
}



.section1 img {
    
    width: 100px;
    height: 75px;
}


.section-figure {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px 200px  ;
    justify-content: space-evenly;
	align-items: center;
	max-width: 1000px;
}

figure img {
    width: 130px;
    height: 115px;
    border: solid var(--accent1-color);
}

.section2 {
    border: solid var(--accent1-color);
}

.section2 h2 {
    display: flex;
    justify-content: center;
}

footer {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 5fr  2fr ;
	align-items: center;
	max-width: 1000px;
    background-color: var(--accent1-color);
}

footer nav {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}