@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Lato;
    font-size: 1.2em;
    color: black;
    background-color: #eeebeb;
}

header {
    margin: 0 auto;
    width: 650px;
    max-width: 840px;
}


h1 {
    margin: 1.2rem;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: navy;
    text-align: center;
    max-width: 840px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

legend {
    font-size: 1rem;
    color: blue;
    text-decoration: solid black;
}

label, input, button, select, textarea {
    font-family: Oswald;

}

label {
    text-align: right;
    padding-right: 1rem;
}


input, select, textarea {
    padding: 0.5rem;
    font-size: 1.5rem;
}

input[type="checkbox"] {
    width: 22px;
    height: auto;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: solid black;
    border-radius: .5rem;
    padding: 3px;
    font: 1.2rem;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

footer {
    margin: 0 auto;
    width: 650px;
    max-width: 840px;
    text-align: center;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}